@{
    ViewData["Title"] = "Agregar Cliente";
}

<h1>@ViewData["Title"]</h1>

@*FORM TO GET THE USER INPUT TO ADD TO THE DATABASE*@
<form>
    <div class="mb-3">
        <label for="client-code" class="form-label">Código:</label>
        <input type="text" class="form-control" id="client-code" name="client-code">
    </div>
    <div class="mb-3">
        <label for="client-account-name" class="form-label">Nombre de la cuenta:</label>
        <input type="text" class="form-control" id="client-account-name" name="client-account-name">
    </div>
    <div class="mb-3">
        <label for="client-email" class="form-label">Correo del cliente:</label>
        <input type="text" class="form-control" id="client-email" name="client-email">    
    </div>
    <div class="mb-3">
        <label for="client-phone-number" class="form-label">Número de telefono:</label>
        <input type="text" class="form-control" id="client-phone-number" name="client-phone-number">
    </div>
    <div class="mb-3">
        <label for="client-cellphone-number" class="form-label">Número de celular:</label>
        <input type="text" class="form-control" id="client-cellphone-number" name="client-cellphone-number">
    </div>
    <div class="mb-3">
        <label for="client-website" class="form-label">Sitio web:</label>
        <input type="text" class="form-control" id="client-website" name="client-website">
    </div>
    <div class="mb-3">
        <label for="client-currency" class="form-label">Moneda a utilizar:</label>
        <select class="form-select" id="client-currency" name="client-currency">
            <option selected> </option>
            <option value="CRC">CRC</option>
            <option value="USD">USD</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="client-zone" class="form-label">Zona:</label>
        <select class="form-select" id="client-zone" name="client-zone">
            <option selected> </option>
            <option value="Zone1">Zone1</option>
            <option value="Zone2">Zone2</option>
            <option value="Zone3">Zone3</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="client-sector" class="form-label">Sector:</label>
        <select class="form-select" id="client-sector" name="client-sector">
            <option selected> </option>
            <option value="Sector1">Sector1</option>
            <option value="Sector2">Sector2</option>
            <option value="Sector3">Sector3</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="client-adviser" class="form-label">Usuario:</label>
        <select class="form-select" id="client-adviser" name="client-adviser">
            <option selected> </option>
            <option value="Usuario1">Usuario1</option>
            <option value="Usuario2">Usuario2</option>
            <option value="Usuario3">Usuario3</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="client-additional-info" class="form-label">Informacion adicional:</label>
        <textarea class="form-control" id="client-additional-info" rows="3" name="client-additional-info"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-secondary">Agregar</button>
</form>