@{
    ViewData["Title"] = "Información de clientes";
}

<h1>@ViewData["Title"]</h1>

<main id="main">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre de cuenta</th>
                    <th scope="col">Correo electrónico</th>
                    <th scope="col">Contacto principal</th>
                    <th scope="col">Moneda</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Sitio Web</th>
                    <th scope="col">Información adicional</th>
                    <th scope="col">Nombre de usuario</th>
                    <th scope="col">Zona</th>
                    <th scope="col">Sector</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
        </table>
    </div>
</main>