
*.vsidx
*.v2
programa/BasesP1/.vs/BasesP1/v17/.suo
programa/BasesP1/.vs/BasesP1/v17/.suo
programa/BasesP1/.vs/ProjectEvaluation/basesp1.metadata.v5.1
*.1
programa/BasesP1/BasesP1/BasesP1.csproj.user
programa/BasesP1/BasesP1/obj/Debug/net6.0/BasesP1.GeneratedMSBuildEditorConfig.editorconfig
programa/BasesP1/BasesP1/obj/Debug/net6.0/project.razor.vs.json
programa/BasesP1/BasesP1/obj/Debug/net6.0/project.razor.vs.json
*.v2
*.v2
*.v2
programa/BasesP1/BasesP1/BasesP1.csproj.user
*.v2
programa/BasesP1/BasesP1/BasesP1.csproj.user
*.user
