@{
    ViewData["Title"] = "Información de usuarios";
}

<h1>@ViewData["Title"]</h1>

<main id="main">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre de usuario</th>
                    <th scope="col">Cédula</th>
                    <th scope="col">Depertamento</th>
                </tr>
            </thead>
        </table>
    </div>
</main>