@{
    ViewData["Title"] = "Agregar Tarea";
}

<h1>@ViewData["Title"]</h1>

@*FORM TO GET THE USER INPUT TO ADD TO THE DATABASE*@
<form>
    <div class="mb-3">
        <label for="task-code" class="form-label">Código de Tarea:</label>
        <input type="text" class="form-control" id="task-code" name="task-code">
    </div>
    <div class="mb-3">
        <label for="task-name" class="form-label">Nombre de la tarea:</label>
        <input type="text" class="form-control" id="task-name" name="task-name">
    </div>
    <div class="mb-3">
        <label for="task-desc" class="form-label">Descripción de la tarea:</label>
        <textarea class="form-control" id="task-desc" rows="3" name="task-desc"></textarea>
    </div>
    <div class="mb-3">
        <label for="task-start-date" class="form-label">Fecha de inicio:</label>
        <input type="text" class="form-control" id="task-start-date" name="task-start-date">
    </div>
    <div class="mb-3">
        <label for="task-end-date" class="form-label">Fecha de finalización:</label>
        <input type="text" class="form-control" id="task-end-date" name="task-end-date">
    </div>
    <div class="mb-3">
        <label for="task-status" class="form-label">Estado:</label>
        <select class="form-select" id="task-status" name="task-status">
            <option selected> </option>
            <option value="Estado1">Estado 1</option>
            <option value="Estado2">Estado 2</option>
            <option value="Estado3">Estado 3</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="client-adviser" class="form-label">Asesor:</label>
        <select class="form-select" id="client-adviser" name="client-adviser">
            <option selected> </option>
            <option value="User1">User 1</option>
            <option value="User2">User 2</option>
            <option value="User3">User 3</option>
        </select>
    </div>
    <button type="submit" class="btn btn-outline-secondary">Agregar</button>
</form>