<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BasesP1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BasesP1.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-xxl">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    @*BasesP1*@
                    <img src="~/CRM-Company-Logo-Design.jpg" alt="Logo de la aplicacion" height="45" />
                    </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow align-items-end">

                        @*Dropdown to access the Add/Create functionalities*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Agregar
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Users" asp-action="AddUser">Usuario</a>
                                <a class="dropdown-item disabled" asp-controller="Home" asp-action="Index">Departamento</a>
                                <a class="dropdown-item" asp-controller="Products" asp-action="AddProduct">Producto</a>
                                <a class="dropdown-item" asp-controller="Clients" asp-action="loadAddClientView">Cliente</a>
                                <a class="dropdown-item" asp-controller="Contact" asp-action="AddContact">Contacto Cliente</a>
                                <a class="dropdown-item" asp-controller="Quote" asp-action="AddQuote">Cotización</a>
                            </div>
                        </li>

                        @*Dropdown to access the Client views*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Datos de Clientes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Clients" asp-action="ShowClients">Ver todos</a>
                                <a class="dropdown-item" asp-controller="Clients" asp-action="ShowClientsBySector">Ver por sector</a>
                                <a class="dropdown-item" asp-controller="Clients" asp-action="ShowClientsByZone">Ver por zona</a>
                                <a class="dropdown-item" asp-controller="Clients" asp-action="ShowClientsByQuotes">Ver por cotizaciones</a>
                                <a class="dropdown-item" asp-controller="Clients" asp-action="ShowClientsByQuotedAmount">Ver por monto cotizado</a>
                            </div>
                        </li>

                        @*Dropdown to access the Users view*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Datos de Usuarios
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Users" asp-action="ShowUsers">Ver todos</a>
                            </div>
                        </li>

                        @*Dropdown to access the Product functionalities*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Productos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Products" asp-action="EditProduct">Editar producto</a>
                                <a class="dropdown-item" asp-controller="Products" asp-action="ShowProductReport">Ver reportes</a>
                                <a class="dropdown-item" asp-controller="Products" asp-action="ShowProducts">Ver todos</a>
                            </div>
                        </li>

                        @*Dropdown to access the Quote functionalities*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cotización
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Products" asp-action="EditProduct">Editar producto</a>
                                <a class="dropdown-item" asp-controller="Products" asp-action="ShowProductReport">Ver reportes</a>
                                <a class="dropdown-item" asp-controller="Products" asp-action="ShowProducts">Ver todos</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mb-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <br />

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - BasesP1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
